div{
  background-color: tomato;
  padding: 10px;
  text-align: center;
}
ol{
  color: aquamarine;
  background-color: tomato;
  text-shadow: 5px;
  text-align: center;
}
ul{
  color: blueviolet;
  text-align: left;
 background-color: yellow;
}
.mac{
  color: slateblue;
  background-color: greenyellow;
  display: flex;
}
#hr{
  display: flex;
}